@import "../../global";

.form {
    width: $mainWidth;
    max-width: $mainMaxWidth;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    font-family: $main_font;

    &__input {
        width: 80%;
        font-size: 22pt;
        outline: none;
        border: none;
        margin-top: 30px;
        border-bottom: 2px solid $accent1;
        color: $accent1;
        &:focus {
            border-image: linear-gradient(to right, $accent2, $accent1);
            border-image-slice: 1;
        }
    }

    &__submitBtn {
        margin-top: 10px;
        font-size: 18pt;
        outline: none;
        border: none;
        border: 2px solid $accent1;
        background-color: $accent1;
        color: white;
    }

}

