@import "../../global";


.form {
    display: flex;
    font-size: 22pt;
    margin-top: 30px;
    

    &__input {
        flex: 1;   
        width: 100%;
        font-size: inherit;
        outline: none;
        border: none;
        color: $accent1;
        border-bottom: 2px solid $accent1;
        
    } 

    &__submitBtn {
        background-color: $accent1;
        font-size: inherit;
        outline: none;
        border: none;
        color: white;
    }
}


