@import "../../global";

.list__item {
    font-size: 16pt;
    margin-top: 12px;
    padding: 6px;
    border: 2px solid lightcoral;
    background-color: rgb(252, 233, 233);
    // background-color: #ffe2ce;
    color: $navyblue;
}
