@import "../../global";

.list__item {
    width: 100%;
    background-color: blueviolet;
    font-size: 16pt;
    margin-top: 10px;
}
// .list__item {
//     font-family: $main_font;
//     color: $accent1;
//     width: 100%;
//     margin-top: 30px;
//     font-size: 16pt;
//     padding: 5px;
//     border: 1px solid lightgrey;    
//     &:hover {
//         cursor: pointer;
//     }
// }