@import "../../global";
.todoContainer {
    width: $mainWidth;
    max-width: $mainMaxWidth;
    margin-right: auto;
    margin-left: auto;
    font-family: $main_font;
    color: $accent1;
}
.list__item {
    // background-color: $accent1;
    width: 90%;
    margin-top: 10px;
    font-size: 16pt;
    padding: 5px;
    
    &:hover {
        cursor: pointer;
    }
}