@import "../../global";

.header {
    background-color: $lightgreen;
    color: $navyblue;
    // width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 26pt;
    //font-family: 'Abril Fatface';
    font-family: monospace;
    background-color: $navy;
    color: white;
}


