@import "../../global";

.header {
    background-color: lightcoral;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    font-size: 26pt;
}


// .header {
//     font-family: $main_font;
//     color: $accent2;
//     text-align: center;
//     //background-color: $accent1;
//     font-size: 32pt;
//     padding: 20px 0;
//     margin-top: 40px;
// }