
// colors
$orange: #FFA630;
$lightgreen: #D7E8BA;
$teal: #4DA1A9;
$navyblue: rgb(52, 68, 121);

// font
$main_font: 'Montserrat';

// width sizing
$mainWidth: 75%;
$mainMaxWidth: 500px;

* {
    font-family: $main_font;
}