
// colors
$orange: #FFA630;
$lightgreen: #D7E8BA;
$teal: #4DA1A9;
$navyblue: #344479;

$navy: #343742;
$yellow: #fcfbf3;

// font
$main_font: monospace;

// width sizing
$mainWidth: 75%;
$mainMaxWidth: 500px;

* {
    font-family: $main_font;
}